.IntroSnow {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.snow {
  position: absolute;
  background: gold;
  width: 10px;
  height: 10px;
  opacity: 0;

  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );

  animation: fall 10s linear infinite;
}

@keyframes fall {
  0% {
    opacity: 0;
    transform: translate3d(0, 0vh, 0);
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: translate3d(-10px, 50vh, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(10px, 110vh, 0);
  }
}
